[submodule "themes/tale-hugo"]
	path = themes/tale-hugo
	url = https://github.com/EmielH/tale-hugo
[submodule "themes/hugo-kiera"]
	path = themes/hugo-kiera
	url = https://github.com/funkydan2/hugo-kiera.git
